
#top {
    border: red solid 1px;
    text-align: center;
}

#top span {
    font-size: 20px;
    font-weight: bold;
}

.st {
    display: inline;
}

#left {
    /*border: lightcoral solid 1px;*/
    float: left;
    width: 18%;
    height: 670px;
    background-color: lightcyan;
}

ul {
    margin-left: -40px;
    margin-top: 1px;
}

li {
    text-align: center;
    list-style: none;
    /*margin-top: 5px;*/
    margin-bottom: 20px;
    padding: 15px;
    background-color: lightskyblue;
}

:hover li {
    cursor: pointer;
}

#right {
    /*border: lightblue solid 1px;*/
    float: right;
    width: 80%;
    height: 670px;
}

#f {
    border: none;
    background-color: rgba(204, 202, 224, 0.6);
    width: 100%;
    height: 100%;
}