<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工管理</title>
    <link href="../static/css/personnel.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: "/users/search",
                data: {"value": $("#search").val()},
                type: "POST",
                success: function (res) {
                    // alert("连接成功"+ res);
                    console.log(res);
                    let html = "暂无数据";
                    let s = "", z = "", zz = "";
                    for (let i = 0; i < res.data.length; i++) {
                        if (res.data[i].type === 0) {
                            s = "管理员";
                        } else if (res.data[i].type === 1) {
                            s = "教师";
                        } else {
                            s = "帐号类型异常";
                            alert("有账号出现异常，请注意查看")
                        }
                        if (res.data[i].status === 1) {
                            z = "启用";
                            zz = "禁用";
                        } else {
                            z = "禁用";
                            zz = "启用";
                        }
                        html += "<tr>" +
                            "<td>" + res.data[i].id + "</td>" +
                            "<td>" + res.data[i].name + "</td>" +
                            "<td>" + res.data[i].age + "</td>" +
                            "<td>" + res.data[i].sex + "</td>" +
                            "<td>" + res.data[i].phone + "</td>" +
                            "<td>" + s + "</td>" +
                            "<td>" + z + "</td>" +
                            "<td>" + res.data[i].creatTime[0] + " 年 " + res.data[i].creatTime[1] + " 月 " +
                            res.data[i].creatTime[2] + " , " + res.data[i].creatTime[3] + " 时 " +
                            res.data[i].creatTime[4] + " 分 " /*+ res.data[i].creatTime[5]*/ + "</td>" +
                            "<td><a href='#' onclick='editor(" + res.data[i].id + ")'>" + "编辑" + "</a>" + "|" +
                            "<a href='#' onclick='s(" + res.data[i].id + ")'>" + zz + "</a></td>" +
                            "</tr>";
                    }
                    $("#tb").html(html);
                },
                error: function () {
                    alert("连接失败");
                }
            });
        })
    </script>
</head>
<body>
<div>
    <div>
        <div id="top-left">
            <label for="search"></label>
            <input id="search" name="search" onkeydown="a()" placeholder="搜索所有信息" type="search">
            <input onclick="a()" type="button" value="搜索">
        </div>
        <div id="top-right">
            <button onclick="add()" type="button">+增加员工</button>
        </div>
    </div>
    <div id="div-table">
        <table style="width: 100%">
            <tr style="border: 1px solid">
                <th>id</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>手机号码</th>
                <th>账号类型</th>
                <th>账号状态</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            <tbody id="tb">
            <tr>
                <td colspan="7">暂无数据</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    // $("#search").keydown(function(e) {
    //     if (e.keyCode === 13) {
    //         a(); //调用搜索店内商品信息
    //     }
    // });
    /**
     * 搜索的方法，向后端发送请求
     */
    function a() {
        $.ajax({
            url: "/users/search",
            data: {value: $("#search").val()},
            // ContentType:"application/json",
            type: "POST",
            success: function (res) {
                let html = "暂无数据";
                if (res.code === 0) {
                    $("#tb").html(html);
                    return;
                }
                // alert("连接成功"+ res);
                console.log(res);
                let s = "", z = "", zz = "";
                for (let i = 0; i < res.data.length; i++) {
                    if (res.data[i].type === 0) {
                        s = "管理员";
                    } else {
                        s = "教师";
                    }
                    if (res.data[i].status === 1) {
                        z = "启用";
                        zz = "禁用";
                    } else {
                        z = "禁用";
                        zz = "启用";
                    }
                    html += "<tr>" +
                        "<td>" + res.data[i].id + "</td>" +
                        "<td>" + res.data[i].name + "</td>" +
                        "<td>" + res.data[i].age + "</td>" +
                        "<td>" + res.data[i].sex + "</td>" +
                        "<td>" + res.data[i].phone + "</td>" +
                        "<td>" + s + "</td>" +
                        "<td>" + z + "</td>" +
                        "<td>" + res.data[i].creatTime[0] + " 年 " + res.data[i].creatTime[1] + " 月 " +
                        res.data[i].creatTime[2] + " , " + res.data[i].creatTime[3] + " 时 " +
                        res.data[i].creatTime[4] + " 分 " /*+ res.data[i].creatTime[5]*/ + "</td>" +
                        "<td><a href='#' onclick='editor(" + res.data[i].id + ")'>" + "编辑" + "</a>" + "|" +
                        "<a href='#' onclick='s(" + res.data[i].id + ")'>" + zz + "</a></td>" +
                        "</tr>";
                }
                $("#tb").html(html);
            },
            error: function () {
                alert("连接失败");
            }
        });
    }

    /**
     * 增加员工的方法
     */
    function add() {
        console.log("add...")
        window.open("registered.html", "_self");
    }

    /**
     * 编辑员工状态的方法
     * @param id 员工id
     */
    function s(id) {
        console.log("s ...");
        console.log(id);
        // let jsonStr = {"id": id};
        $.ajax({
            url: "/users/" + id,
            type: "PUT",
            // contentType: "application/json",//设置请求参数类型为json字符串
            // data: JSON.stringify(jsonStr),
            // dataType: "json",
            success(res) {
                // alert(data);
                // location.go(0);
                if (res.code === 1) {
                    a();
                } else {
                    alert(res.msg)
                }
            },
            error() {
                alert("后端接口异常");
            }
        });
    }

    /**
     * 跳转到新的页面，同时携带参数
     */
    function editor(id) {
        location.href = "/templates/registered.html?id=" + id;
    }
</script>
</body>
</html>