<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="../static/js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            let v = new Vue({
                el: "#register",
                data: {
                    ruleForm: {
                        name: "",
                        username: "",
                        password: "",
                        phone: "",
                        sex: "",
                        type: 2
                    },
                    msg: ""
                },
            });
            /* 获取当前页面的地址 */
            let href = location.href;
            // alert(href);
            console.log(href);
            /* 截取传递的参数 */
            let s1 = href.substring(href.indexOf("=") + 1);
            console.log(s1 + "=s1");
            /**
             * 判断 s1 是否是可转数字
             * 可以辨别是点击增加员工还是编辑进入
             * @type {boolean}
             */
            let t = isNaN(Number(s1));
            if (!t) {
                // console.log(t);
                $.ajax({
                    url: "/users/" + s1,
                    // data: {id: s1},
                    success(data) {
                        // alert("连接成功");
                        console.log(data);
                        v.ruleForm.name = data.data.name;
                        v.ruleForm.username = data.data.userName;
                        v.ruleForm.password = data.data.password;
                        v.ruleForm.phone = data.data.phone;
                        v.ruleForm.sex = data.data.sex;
                        v.ruleForm.age = data.data.age;
                        v.ruleForm.type = data.data.type;
                        /* 单选按钮的数据回填 */
                        //性别选项
                        if (v.ruleForm.sex === '男') {
                            $("#man").attr("checked", "checked");
                        } else {
                            $("#female").attr("checked", "checked");
                        }
                        //账号类型选项
                        if (v.ruleForm.type === 0) {
                            $("#admin").attr("checked", "checked");
                        } else {
                            $("#teacher").attr("checked", "checked");
                        }
                    },
                    error() {
                        console.log("修改连接异常");
                        alert("连接失败");
                    }
                });
            }
        });
    </script>
</head>
<body>
<div id="register"><!--v-model="ruseForm"-->
    <div>
        <a href="#" onclick="f()">< - 返回</a>
    </div>
    <form id="dialog-from-label" style="text-align: center">
        <table>
            <tr>
                <td><label for="user-name-label">姓名*：</label></td>
                <td><input id="user-name-label" name="name" type="text" v-model="ruleForm.name"></td>
            </tr>
            <tr>
                <td><label for="userName">账号*：</label></td>
                <td><input id="userName" name="userName" type="text" v-model="ruleForm.username"></td>
            </tr>
            <tr>
                <td><label for="password-label">密码*：</label></td>
                <td><input id="password-label" name="password" type="password" v-model="ruleForm.password"></td>
            </tr>
            <tr>
                <td><label for="phone-label">电话*：</label></td>
                <td><input id="phone-label" name="phone" type="text" v-model="ruleForm.phone"></td>
            </tr>
            <tr>
                <td><label for="age">年龄*：</label></td>
                <td><input id="age" name="age" type="text" v-model="ruleForm.age"></td>
            </tr>
            <tr>
                <td>请选择性别*：</td>
                <td><!--:checked="{'checked':ruleForm.sex==1}"-->
                    <input id="man" name="sex" type="radio" value="1"><label for="man">男</label>
                    <input id="female" name="sex" type="radio" value="2"><label for="female">女</label>
                </td>
            </tr>
            <tr>
                <td>请选择账号类型*：</td>
                <td>
                    <input id="admin" name="type" type="radio" value="0"><label for="admin">管理员</label>
                    <input id="teacher" name="type" type="radio" value="1"><label for="teacher">教师</label>
                </td>
            </tr>
            <tr>
                <td><input id="button" onclick="s()" type="button" value="提交"></td>
                <td><span id="name-span" style="color: red;">{{msg}}</span></td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>
<script>

    function s() {
        let name = $('#user-name-label');
        let username = $("#userName");
        let password = $("#password-label");
        let sex = $('input[name="sex"]:checked');
        let age = $("#age");
        let phone = $("#phone-label");
        let type = $('input[name="type"]:checked');
        let sp = $("#name-span");
        console.log(age.val());
        console.log(sex.val());
        console.log(type.val())
        if (name.val() == "") {
            sp.text("姓名不能为空");
            return false;
        } else if (username.val() == "") {
            console.log(username.val());
            sp.text("账号不能为空");
            return false;
        } else if (password.val() == "") {
            console.log(password.val());
            sp.text("密码不能为空");
            return false;
        } else if (phone.val() == "") {
            console.log(phone.val());
            sp.text("手机号不能为空");
            return false;
        } else if (age.val() == "") {
            console.log(age.val());
            sp.text("年龄不能为空");
            return false;
        } else if (sex.val() == null) {
            sp.text("性别不能为空");
            console.log(1)
            return false;
        } else if (type.val() == null) {
            sp.text("账号类型不能为空");
            console.log(2)
            return false;
        }
        console.log(123)
        $.ajax({
            url: "/users",
            type: "POST",
            data: {
                name: name.val(),
                userName: username.val(),
                password: password.val(),
                sex: sex.val(),
                age: age.val(),
                phone: phone.val(),
                type: type.val()
            },
            success(data) {
                console.log(data);
                if (data.code == 0) {
                    sp.text(data.msg);
                } else if (data.code == 1) {
                    alert(data.data);
                    location.href = "personnel.html";
                }
            },
            error(err) {
                console.log(err);
                alert("后端接口异常：" + err);
            }
        })
    }

    /**
     * 返回初始页面
     */
    function f() {
        location.href = "personnel.html";
    }
</script>
